/* Resets */
* {
  box-sizing: border-box;
}

:root {
  --transition-duration: 0.2s;
  --lighter-gradient-color: hsl(51, 100%, 75%);
  --darker-gradient-color: hsl(51, 100%, 50%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
}

ul {
  padding: 0;
}

a {
  color: black;
}

button {
  border: none;
}

/* Main Styles */

body,
* {
  font-family: "Jost", sans-serif;
}

section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  padding-top: 7.5em;
}

h1 {
  font-size: 7.5vmin;
  font-family: "Kugile", serif;
  margin: 0;
  text-align: center;
}

button {
  font-size: 1em;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;

  background-image: linear-gradient(
    to bottom,
    var(--_primary-btn-color),
    var(--_secondary-btn-color)
  );

  transition: filter var(--transition-duration) ease-in-out,
    transform 0.1s ease-in-out;
}
button:hover {
  filter: brightness(0.975);
}
button:active {
  filter: brightness(0.95);
  transform: scale(0.95);
}

nav {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 999px;
  padding: 1.75em 1em;

  background-color: rgba(42, 42, 42, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);

  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
  margin: 0;
}

nav a {
  padding: 1em 3em;
  border-radius: 999px;

  text-decoration: none;
  color: white;
  font-weight: 600;

  transition: background-color var(--transition-duration) ease-in-out,
    box-shadow var(--transition-duration) ease-in-out;
}

nav a:hover,
nav a[aria-current="page"] {
  background-color: rgba(72, 72, 72, 0.2);
  box-shadow: 0 0 0.5em rgba(72, 72, 72, 0.2);
}

#hero {
  min-height: 90vh;
  padding: 5em;

  position: relative;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    var(--lighter-gradient-color),
    var(--darker-gradient-color)
  );

  overflow: hidden;
  border-radius: 0 0 999px 999px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);

  user-select: none;
}

#hero-animation {
  display: block !important;
  position: absolute;
  inset: 0;

  opacity: 0.5;
}

#hero > *:not(#hero-animation) {
  z-index: 1;
}

#hero h1 {
  font-size: 15vmin;
}

#hero h2 {
  font-weight: 200;
}

#faq-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 50vw;
}

#faq-toggle {
  --_primary-btn-color: var(--lighter-gradient-color);
  --_secondary-btn-color: var(--darker-gradient-color);
}

#faq-content summary {
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;
  background: white;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
  transition: box-shadow var(--transition-duration) ease-in-out,
    transform var(--transition-duration) ease-in-out;
}

#faq-content summary:hover {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

#faq-content details > div {
  padding: 1em;
  border-radius: 0.5em;
  list-style-position: inside;
  margin-top: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

#faq-content details > div > * {
  margin: 0;
}

#faq-content details[open] > summary {
  background: linear-gradient(
    to bottom,
    var(--lighter-gradient-color),
    var(--darker-gradient-color)
  );
  transform: translateX(-2em);
}

#faq-content details[open] > div {
  background: linear-gradient(to bottom, #3885f7, #0f4c8a);
  transform: translateX(2em);
  width: fit-content;
  float: inline-end;
  color: white;
}

#faq-content details[open] > div a {
  color: white;
}

#faq-content summary::marker {
  content: "";
}

#contact {
  justify-content: center;
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  background-image: linear-gradient(
    to bottom,
    var(--lighter-gradient-color),
    var(--darker-gradient-color)
  );
  z-index: -1;
  border-radius: var(--_blob-radius, 50%);
  transition: border-radius var(--_blob-duration) ease-in-out;
  animation: spin 45s linear infinite;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#contact ul {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

#contact a {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 6em;
  height: 8em;
  font-family: "Kugile", serif;
  border-radius: 0.5em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.05);
  transform: rotate(var(--_rotation, 0deg));
  transition: box-shadow var(--transition-duration) ease-in-out,
    transform var(--transition-duration) ease-in-out,
    rotate var(--transition-duration) ease-in-out;
}

#contact a::after {
  content: "";
  inset: 0.25em;
  position: absolute;
  border: 1px dotted black;
  border-radius: 0.25em;
}

#contact a:hover {
  z-index: 999;
  box-shadow: 0 0 4em rgba(0, 0, 0, 0.1);
  transform: scale(1.25) !important;
}
#contact ul:hover a:not(:hover) {
  rotate: calc(var(--_rotation, 0deg) * -1.812);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
  text-align: center;
}

#copyright-notice,
#copyright-year {
  font-family: "Kugile", serif;
}

#modernize-demodernize-button {
  border-radius: 999px;
  background: linear-gradient(
    to bottom,
    var(--lighter-gradient-color),
    var(--darker-gradient-color)
  );
  overflow: hidden;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#modernize-demodernize-button::before {
  transform: translateX(calc(50% + 16px));
  background: white;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
